* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(227, 241, 227, 0.5);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
